/**
 * original rofi configs   belongs to @adi1090x
 *
 * adapta    catppuccin    everforest    navy       paper
 * arc       cyberpunk     gruvbox       nord       solarized
 * black     dracula       lovelace      onedark    yousai
 *
 **/

@import "~/.config/bspwm/rofi/colors/onedarker.rasi"

* {
    font: "JetbrainsMono Nerd Font 14";
}
